html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(223, 231, 231);
}

header .info {
background-color:rgb(184, 154, 114);
color: white;
height: 30px;
line-height: 30px;
text-align: right;
padding-right: 20px;
font-size: 14px;
}

header h1 {
    background-color: rgb(184, 154, 114);
    margin: 0;
    padding: 20px 0 20px 15px;
}

nav {
    background-color: rgb(184, 154, 114);
    padding: 10px;
}
nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li {
    width: 200px;
    display: inline-block;
    color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li a, nav ul li a:visited, nav ul li a:active {
    display: inline-block;
    color: rgb(255, 255, 255);
    list-style-type: none;
    padding: 15px 0;
    width: 100%;
    border-radius: 3px;
    transition: all 300ms;
}

nav ul li a:hover {
    color: floralwhite
}

footer  {
background-color:  rgb(184, 154, 114);
color: floralwhite
} 
footer a {
    color: floralwhite
}
.card {
    display: inline-block;
    width: 450px;
    height: 450px;
    text-align: center;
}
.card a {
    color: black;
}
.card .image img{
    width: 400px;
    height: 400px;
}
.card .image img:hover {
    transform: scale(1.2);
    transition: 1s;
}
.card .product-name {
    font-size: 20px;
}
.modal {
    visibility: hidden;
    opacity: 0;
    transition: all 200ms 150ms;
    transform: scale(0);

    widht: 300px;
    position: fixed;
    left: 50%;
    top: 50px;
    margin-left: -150px;

    border: 1px solid #333;
    border-radius: 6px;
    background-color: rgb(184, 154, 114);
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 7px0 #4a0;
    
}

.modal .message {
    margin-bottom: 18px;
}

.modal .message img {
   max-width: 300px;
}

.modal button {
    padding: 7px;

}

.overlay {
    visibility: hidden;
    opacity: 0;
    transition: all 2000ms;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    
}

.map {
    padding: 40px 0;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}



.sale-wrap {
    width: 700px;
    height: 600px;
    padding: 10px;
    margin: 50px auto 0;
    background:rgb(184, 154, 114);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    box-sizing: content-box;
  }
  .sale-inner {
    position: relative;
    height: 100%;
    background: repeating-linear-gradient(-45deg, #790505, #bc2423 7px, #910707 8px, #910707 13px);
  }
  .sale-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    background: #00b126;
    text-align: center;
    color: rgba(255,255,255,.8);
    transform: translateY(-50%);
  }
  .sale-text p {
    margin: 0;
    padding: 10px;
    font-size: 45px;
    letter-spacing: 3px;
    color: rgba(255,255,255,.8);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background: #bc2423;
    box-shadow: 0 2px 5px rgba(0,0,0,.2), 0 -2px 5px rgba(0,0,0,.2);
  }
  .sale-text h3 {
    margin: 0;
    padding: 15px 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    font-style: italic;
    font-size: 45px;
    font-weight: normal;
  }
  .sale-info {
    position: relative;
    width: 70px;
    height: 100%;
    margin: 0 auto;
    background: #910707;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgba(255,255,255,.8);
    border-left: 20px solid #bc2423;
    border-right: 20px solid #bc2423;
    box-shadow: 2px 0 5px rgba(0,0,0,.2), -2px 0 5px rgba(0,0,0,.2);
    box-sizing: content-box;
  }
  .sale-info-top {
    padding: 26px 0;
  }
  .sale-info-bottom {
    position: absolute;
    bottom: 26px;
    left: 0;
    right: 0;
  }



  .coupon {
    border: 5px dotted #bbb; /* Dotted border */
    width: 80%;
    border-radius: 15px; /* Rounded border */
    margin: 0 auto; /* Center the coupon */
    max-width: 700px;
}

.container {
    padding: 2px 16px;
    background-color: #f1f1f1;
}

.promo {
    background: #ccc;
    padding: 1px;
}

.expire {
    color: red;
}


.image-container {
    background-image: url("evolution1.jpg"); /* The image used - important! */
    background-size: cover;
    position: relative; /* Needed to position the cutout text in the middle of the image */
    height: 300px; /* Some height */
  }
  
  .text {
    background-color: rgb(10, 10, 10);
    color: rgb(248, 244, 244);
    font-size: 9vw; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    width: 50%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */
    top: 50%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: multiply; /* This makes the cutout text possible */
  }
